body {
    background-color: aliceblue;
}

.heading {
    color: dimgrey;
}

p, .content, .heading {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    border-radius: 1.5px;
}

a:hover {
    padding: 1.5px;
    background-color: rgba(140, 148, 155, 0.55);
    box-shadow: rgba(0,0,0,0.55) 1.5px 1px 5px;
    transition: 100ms ease;
}

img {
    float: right;
}