body {
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 250px; /* To make the bottom of the page easier to read */
}

main {
    margin: 100px auto;
}

img {
    float: right;
    
    margin: 0px 0px 0px 20px;
}

p {
    text-align: justify;
}

h2 {
    text-align: center;
}

img {
    float: right;
}

/* RWD */

@media(max-width: 910px) {
    img {
        height: 50vw;
        max-height: 50vh;
        margin: 30px auto;
        
        float: none;
    }
    
    main {
        margin: 20px auto;
    }
}

@media(max-width: 665px) {
    .emphasize {
        font-size: 200%;
        margin-bottom: 0rem;
    }
    
    section p {
        text-align: left;
    }
}

@media(max-width: 395px) {
    .emphasize {
        font-size: 150%;
        margin-bottom: 0rem;
    }
}