.bodyFont {
    font-family: "Gabarito", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0 5%;
}

.sidebyside { 
    display: flex;
    flex-wrap: wrap;
}

.sidebyside > * {
    flex: 1 1 0%;
}

article {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

article > div {
    flex: 1 1 0%;
    padding: 5px;
}

article > h2 {
    flex-basis: 100%
}

.headFont {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: aliceblue;
    color: darkslategrey;
}

img {
    max-width: 90vw;
    object-fit: contain;
}

footer {
    width: 90vw;
    word-break: break-all;
}

@media screen and (max-width: 1300px) {
    aside > img {
        min-width: 50vw;
    }
}

@media screen and (max-width: 1140px) {
    aside > img {
        min-width: unset;
    }

    article {
        flex-flow: column;
    }

    article img {
        width: 50vw;
        float: left;
        padding: 0 10px;
    }

    article p {
        text-align: left;
        padding: 0 10px;
    }

    .sidebyside {
        flex-flow: column;
    }
}

@media screen and (max-width: 680px) {
    article {
        flex-flow: column;
    }

    article img {
        width: auto;
        float: unset;
        padding: 10px 0;
    }

    article p {
        text-align: center;
        padding: 10px 0;
    }
}
