.headFont {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bodyFont {
    font-family: "Gabarito", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0 5%;
}

.sidebyside { 
    display: flex;
    flex-wrap: wrap;
}

.sidebyside > * {
    flex: 1 1 0%;
}

article {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

article > div {
    flex: 1 1 0%;
    padding: 5px;
}

article > h2 {
    flex-basis: 100%
}

body {
    background-color: aliceblue;
    color: darkslategrey;
}

img {
    max-width: 90vw;
    object-fit: contain;
}

footer {
    width: 90vw;
    word-break: break-all;
}

fieldset {
    margin: 20px 0;
}

.vertical {
    display: flex;
    flex-flow: column nowrap;
}

#content {
    width: fit-content;
}

input[type="radio"]:hover {
    padding: 1px;
    background-color: rgba(140, 148, 155, 0.55);
    box-shadow: rgba(0,0,0,0.55) 1.5px 1px 5px;
    transition: 100ms ease;
}

input[type="checkbox"]:hover {
    padding: 1px;
    background-color: rgba(140, 148, 155, 0.55);
    box-shadow: rgba(0,0,0,0.55) 1.5px 1px 5px;
    transition: 100ms ease;
}

input[type="submit"] {
    font-family: "Gabarito", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 18px;
}

textarea {
    font-family: "Gabarito", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media screen and (max-width: 1300px) {
    aside > img {
        min-width: 50vw;
    }
}

@media screen and (max-width: 1140px) {
    aside > img {
        min-width: unset;
    }

    article {
        flex-flow: column;
    }

    article img {
        width: 50vw;
        float: left;
        padding: 0 10px;
    }

    article p {
        text-align: left;
        padding: 0 10px;
    }

    .sidebyside {
        flex-flow: column;
    }
}

@media screen and (max-width: 680px) {
    article {
        flex-flow: column;
    }

    article img {
        width: auto;
        float: unset;
        padding: 10px 0;
    }

    article p {
        text-align: center;
        padding: 10px 0;
    }
}
