body {
    margin-left: 15%;
    margin-right: 15%;
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

main section:nth-child(odd) img {
    float: right;
}

main section:nth-child(even) img {
    float: left;
}

main > * {
    margin: 2% 2.5%;
}

img {
    float: right;
}

/* Flex styling */
.sidebyside {
    display: flex;
    flex-flow: row nowrap;

    justify-content: space-evenly;
}

.vertical {
    display: flex;
    flex-flow: column nowrap;
}

/* Form styling */
label {
    text-align: center;
}

input {
    font-family: "Hepta Slab", serif;
    font-weight: normal;
    font-style: normal;
    
    margin: 2px;
}

input[type="text"], input[type="email"] {
    background-color: rgba(0,0,0,0.1);
    border: none;
    padding: 4px;
    outline: none;
    
    transition-property: background-color;
    transition-duration: 100ms;
}

input[type="text"]:hover, input[type="email"]:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

input[type="text"]:focus, input[type="email"]:focus {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: black solid 2px;
    
    margin-bottom: 0px;
}

input[type="submit"] {
    margin: auto;
    display: block;
    
    background-color: #4bacf48F;
    padding: 3px 16px;
        
    outline: none;
    border-style: outset;
    border-width: 2px;
    
    transition-duration: 100ms;
    transition-property: background-color, border-color, font-weight;
}

input[type="submit"]:hover  {
    cursor: pointer;
    
    background-color: #4092d1bd;
}

input[type="submit"]:focus {
    background-color: #4092d1bd;
    
    font-weight: bold;
}

input[type="submit"]:active {
    border-style: ridge;
}

textarea {
    display: block;
    margin: 2px auto;
    
    width: 80%;
    max-width: 100%;
    
    background-color: rgba(0,0,0,0.1);
    border-style: none;
    border-color: black;
    
    padding: 4px;
    outline: none;
    
    transition-property: background-color;
    transition-duration: 100ms;
}

textarea:focus {
   border-style: solid;
    
   margin: 0px, auto;
}

/* RWD */


