/* Main content styling */
main {
    margin: 100px auto;
}

main section:nth-child(odd) img {
    float: right;
}

main section:nth-child(even) img {
    float: left;
}

section > * {
    margin: 2% 2.5%;
}

section p {
    text-align: justify;
}

section h2 {
    text-align: center;
}