/* Main content styling */
body {
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 250px; /* To make the bottom of the page easier to read */
}

main {
    margin: 20px auto;
}

main section:nth-child(odd) img {
    float: right;
}

main section:nth-child(even) img {
    float: left;
}

section > * {
    margin: 2% 2.5%;
}

section p {
    text-align: justify;
}

section h2 {
    text-align: center;
}

.emphasize {
    margin-bottom: 1.5rem;
}

/* RWD */
@media(max-width: 1830px) {
    .emphasize {
        font-size: 275%;
        
    }
}

@media(max-width: 1550px) {
    .emphasize {
        font-size: 225%;
    }
}

@media(max-width: 1060px) {
    .emphasize {
        font-size: 200%;
        margin-bottom: 0rem;
    }
}

@media(max-width: 910px) {
    img {
        max-height: 50vh;
        margin: 30px auto;
    }

    .emphasize {
        font-size: 300%;
        margin-bottom: 1rem;
    }

    main {
        margin: 20px auto;
    }
    
    section {
        display: flex;
        flex-flow: column nowrap;
    }
}

@media(max-width: 665px) {
    .emphasize {
        font-size: 200%;
    }

    main p {
        text-align: left;
    }   
}

@media(max-width: 420px) {
    .emphasize {
        font-size: 150%;
        margin-bottom: 0rem;
    }
}