/* Main content styling */
body {
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 250px; /* To make the bottom of the page easier to read */
}

main {
    margin: 100px auto;
}

main section:nth-child(odd) img {
    float: right;
}

main section:nth-child(even) img {
    float: left;
}

section > * {
    margin: 2% 2.5%;
}

section p {
    text-align: justify;
}

section h2 {
    text-align: center;
}

.emphasize {
    margin-bottom: 1.5rem;
}