/* Main content styling */
body {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 250px; /* To make the bottom of the page easier to read */
}

img {
    float: right;
    margin: 20px;

    width: 800px;
    height: 450px;
    max-height: 25vw;
    
    object-fit: cover;
}

p {
    line-height: 160%;
}

main {
    margin-top: 20px;
}

footer {
    margin-top: 200px;
}

/* Specific text styles */
main p {
    text-align: justify;
}

.title {
    margin-bottom: 0px;
}

.author {
    margin: 0px;
    font-size: unset;
}

/* RWD */
@media(max-width: 1450px) {
    .emphasize {
        font-size: 250%;
        margin-bottom: 0rem;
    }
}

@media(max-width: 1060px) {
    .emphasize {
        font-size: 200%;
    }
}

@media(max-width: 910px) {
    img {
        height: 50vw;
        max-height: 50vh;
        margin: auto;
        margin-bottom: 20px;
    }
    
    .emphasize {
        font-size: 300%;
        margin-bottom: 1rem;
    }
}

@media(max-width: 665px) {
    .emphasize {
        font-size: 200%;
    }

    main p {
        text-align: left;
    }   
}

@media(max-width: 395px) {
    .emphasize {
        font-size: 150%;
        margin-bottom: 0rem;
    }
}
