/* General page styling */
.headFont {
    font-family: "Fraunces", serif;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.bodyFont {
    font-family: "Hepta Slab", serif;
    font-weight: normal;
    font-style: normal;
    
    font-size: larger
}

html {
    background: #b1b5f2;
    background: linear-gradient(180deg, rgba(177, 181, 242, 1) 0%, rgba(167, 207, 196, 1) 100%);
}

body {
    display: flex;
    flex-flow: column nowrap;
    
    min-height: 100vh;
}

img {
    /*! flex-shrink: 0; */
    max-width: 45%;
	/*! height: max-content; */
    border-radius: 3px;
    box-shadow: rgba(0,0,0,0.6) 0px 0px 10px 1px;
}

p {
    line-height: 175%;
}

header {
    text-align: center;
    font-size: 150%;
}

/* Link styling */
a {
    text-decoration: none;
    color: unset;
}

a.home {
    display: flex;
}

a.home h1 {
    margin: 0 auto;
    align-self: center;
    display: inline;
    
    left: -0.5ch;
    position: relative;
    
    transition-duration: 250ms;
    transition-property: left;
}

a.home:hover h1 {
    left: 0.5ch;
}

a.home h1::before {
    position: relative;
    content: "⤺ ";
        
    left: 2ch;
    opacity: 0%;
    
    transition-duration: 250ms;
    transition-property: left, opacity;
    right: -55.2px;
}

a.home:hover h1::before {
    left: 0ch;
    opacity: 100%;
}

/* Nav bar styling */
nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin: 10px 12%;
/*     position: sticky;  Doesn't seem to work, not that important anyways*/
}

nav a {
    font-size: 110%;
    display: block;
    
    padding: 5px;
    
    transition-property: background-color, box-shadow;
    transition-duration: 250ms;
}

nav a:hover {
    background-color: rgba(0,0,0,0.2);
    box-shadow: 0.5px 0.5px 1px 1px rgba(0,0,0,0.45);
}

nav a[aria-current] {
    border-bottom: #4bacf4 5px solid;
}

#dropdownBtn {
    position: fixed;
    display: none;
    left: 15px;
    top: 10px;

    margin: 0px;
    padding: 10px;
}

/* Specific text styles */
.citation {
    font-style: italic;
}

.attribution {
    float: right;
    font-size: medium;
}

.emphasize {
    font-weight: bold;
    font-size: 400%;
    float: left;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

footer ul {
    max-width: 75ch;
}

li {
    padding-left: 2em;
    text-indent: -2em;
    margin: 10px 0px;
}

/* RWD */

@media(max-width: 1200px) {
    nav a {
        font-size: 90%;
    }
}

@media(max-width: 1000px) {
    nav a {
        font-size: 60%;
    }
}

@media(max-width: 910px) {
    main {
        display: flex;
        flex-flow: column nowrap;
    }
    
    img {
        max-width: 100%;
    }
}

@media(max-width: 700px) {
    #dropdownBtn {
        display: block;
        cursor: pointer;
        
        transition-duration: 250ms;
    }
    
    nav {
        flex-flow: column;
        align-items: baseline;
        
        height: 20vh;
        width: 120px;
        justify-content: space-between;
        
        margin: auto;
        padding: 15px 20px 15px 0px;
        
        position: fixed;
        
/*         left: 20px; */
        left: -120px;
        top: 75px;
       
        transition-duration: 250ms;
    }
    
    nav[aria-expanded="true"] {
        left: 20px;
        
        background-color: rgba(100%,100%,100%,0.5);
        backdrop-filter: blur(5px);
    }
    
    nav a[aria-current] {
        border-left: #4bacf4 5px solid;
        border-bottom: unset;
    }
    
    nav a {
        transition-property: font-weight;
    }
    
    nav a:hover {
        font-weight: bold;
    }
}

@media(max-width: 700px, prefers-reduced-data) {
    nav[aria-expanded="true"] {
        backdrop-filter: none;
    }
}

@media(max-width: 665px) {
    main p {
        font-size: 14px;
        line-height: 140%;
    }
}

@media(max-width: 500px) {
    header {
        font-size: 120%;
    }
}
