h1 {
  margin: 0 auto;
  align-self: center;
  display: inline;
    
  left: -1.5ch;
  position: relative;
}

a {
    text-decoration: none;
    color: unset;
}

a.home {
    content: "⤺ ";
    display: flex;
}

a.home:hover h1::before {
    content: "⤺ ";
}

a.home h1::before {
    content: "⤺ ";
    opacity: 0%;

    
    transition-property: content;
    transition-duration: 250ms;
    left: 1.5ch;
    position: relative;
}