.headFont {
    font-family: "Fraunces", serif;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.bodyFont {
    font-family: "Hepta Slab", serif;
    font-weight: normal;
    font-style: normal;
}

body {
    background: #b1b5f2;
    background: linear-gradient(180deg, rgba(177, 181, 242, 1) 0%, rgba(167, 207, 196, 1) 100%);
}

