:root {
    --body-font: "Zen Antique", serif;
    --heading-font: "Zen Old Mincho", serif;
}

.bodyFont {
  font-family: "Zen Antique", serif;
  font-weight: 400;
  font-style: normal;
}

.headFont {
  font-family: "Zen Old Mincho", serif;
  font-weight: 1000;
  font-style: normal;
}

:not(.headFont) {
    font-family: var(--body-font)
}

img#results {
    position: relative;
    width: 250px;
	height: max-content ;
    margin: 0px 0px 20px 35px;
	flex-basis: 100%;
}

.horizontal {
    display: flex;
	flex-flow: row nowrap;
}

.vertical {
	display: flex;
	flex-flow: column nowrap;
}

table {
	border: solid black;
}

tfoot {
	font-weight: bold;
}

#resultsTable {
	flex-basis: 75%;
}

section {
	margin: 10px 20%;
}

header {
	text-align: center;
}